---
import LandingHeader from '../components/LandingHeader.astro';
import MainSection from '../components/MainSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tesla Landing">
	<main>
		<LandingHeader/>
		<MainSection/>
	</main>
</Layout>

<style>
	
</style>
