---
import ChargeSection from '../components/ChargeSection.astro';
import LandingHeader from '../components/LandingHeader.astro';
import MainSection from '../components/MainSection.astro';
import ProductSection from '../components/ProductSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tesla Landing">
	<main>
		<LandingHeader/>
		<main class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
			<div class="snap-center">				
				<MainSection/>
			</div>
			<div class="snap-center">				
				<ProductSection title="Model 3" description="Lease from $399/mo" src="https://digitalassets.tesla.com/tesla-contents/image/upload/h_2560,w_4096,c_fit,f_auto,q_auto:best/Homepage-Model-3-Desktop-LHD"/>
			</div>
			<div class="snap-center">				
				<ProductSection title="Model Y" description="View Inventory" src="https://digitalassets.tesla.com/tesla-contents/image/upload/h_2400,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-Y-Global-Desktop"/>
			</div>
			<div class="snap-center">				
				<ProductSection title="Model S" description="View Inventory" src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-S-homepage-desktop"/>
			</div>
			<div class="snap-center">				
				<ProductSection title="Model X" description="View Inventory" src="https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-Model-X-Desktop-LHD"/>
			</div>
			<div class="snap-center">				
				<ProductSection title="Solar Panels" description="Lowest Cost Solar Panels in America" underline={false} src="https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/425_HP_SolarPanels_D"/>
			</div>
			<div class="snap-center">				
				<ProductSection title="Solar Roof" description="Produce Clean Energy From Your Roof" underline={false} src="https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/Homepage-SolarRoof-Desktop-Global"/>
			</div>
			<div class="snap-center">				
				<ChargeSection/>
			</div>
		</main>
	</main>
</Layout>

<style>
	
</style>
