<section class="landing-section h-screen w-screen z-10 bg-black relative overflow-hidden text-center" data-header-color="black">
  <div class="relative z-30 h-full flex flex-col">
    <h2 class="text-black mt-[236px] text-[40px] font-medium leading-[48px] tracking-[-0.6px]">Accessories</h2>

    <div class="flex flex-col flex-grow justify-end pb-[72px]">
      <div class="mb-2">
        <div class="text-white bg-black text-sm font-medium border-[3px] border-black leading-4 rounded px-6 py-1 inline-flex min-w-[264px] h-[40px] items-center justify-center cursor-pointer">
          <a href="#">Shop Now</a>
        </div>
      </div>
    </div>
  </div>

  <div class="absolute top-0">
    <img src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Desktop_Accessories" alt="Accesories" class="h-screen w-screen object-cover object-center">
  </div>
</section>