---
import Logo from "./Logo.astro";

---

<header id="landing-header" class="flex items-center z-30 fixed top-0 h-14 w-full justify-between">
  <div class="h-full flex flex-grow basis-0 pl-[32px] items-center justify-start">
    <Logo/>
  </div>

  <nav class="h-full flex items-center justify-center">
    <ul class="h-full flex items-center text-sm font-medium px-2 [&>li>a]:py-2 [&>li>a]:px-4 [&>li>a]:transition-colors [&>li>a]:duration-500 text-current">
      <li><a href="#">Model S</a></li>
      <li><a href="#">Model 3</a></li>
      <li><a href="#">Model X</a></li>
      <li><a href="#">Model Y</a></li>
      <li><a href="#">Solar Roof</a></li>
      <li><a href="#">Solar Panels</a></li>
      <li><a href="#">Powerwall</a></li>
    </ul>
  </nav>

  <nav class="h-full flex flex-grow justify-end basis-0 items-center pr-[32px]">
    <ul class="h-full flex items-center text-sm font-medium [&>li>a]:py-2 [&>li>a]:px-4 [&>li>a]:transition-colors [&>li>a]:duration-500 text-current">
      <li><a href="#">Shop</a></li>
      <li><a href="#">Account</a></li>
      <li><a href="#">Menu</a></li>
    </ul>
  </nav>

  <div 
    id="menu-backdrop"
    class="absolute bg-black/5 backdrop-blur-lg rounded translate-x-[var(--left)] translate-y-[12px] w-[var(--width)] transition-all duration-500 ease-in-out opacity-0 -z-10 py-[16px] left-0 top-0"
  />
</header>

<script>
  const listItem = document.querySelectorAll('#landing-header li')
  const menuBackDrop = document.querySelector('#menu-backdrop') as HTMLElement

  listItem.forEach(item => {
    item.addEventListener('mouseenter', () => {
      const {left, top, width, height} = item.getBoundingClientRect()
      menuBackDrop.style.setProperty('--left', `${left}px`)
      menuBackDrop.style.setProperty('--width', `${width}px`)
      menuBackDrop.style.opacity = '1'
      menuBackDrop.style.visibility = 'visible'
    })

    item.addEventListener('mouseleave', () => {
      menuBackDrop.style.opacity = '0'
      menuBackDrop.style.visibility = 'hidden'
    })
  })
</script>

<script>
  const $header = document.querySelector('#landing-header') as HTMLElement
  const observerOptions = {
    root: null,
    rootMargin: '0px',
    threshold: 0.95
  }

  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      const {isIntersecting} = entry
  
      if (isIntersecting) {
        const color = entry.target.getAttribute('data-header-color')
        $header.style.color = color || 'white'
      }
    })
  }, observerOptions)

  const $sections = document.querySelectorAll('.landing-section')
  $sections.forEach($section => {
    observer.observe($section)
  })
</script>