<section class="landing-section h-screen w-screen z-10 bg-black relative overflow-hidden text-center" data-header-color="white">
  <div class="relative z-30 h-full flex flex-col">
    <h2 class="text-white mt-[236px] text-[40px] font-medium leading-[48px] tracking-[-0.6px]">Experience Tesla</h2>
    <p class="text-white text-sm font-normal pt-2 pb-4">Schedule a Demo Drive Today</p>

    <div class="flex flex-col flex-grow justify-end pb-[72px]">
      <div class="mb-2">
        <div class="text-white text-sm font-medium border-[3px] border-white leading-4 rounded px-6 py-1 inline-flex min-w-[264px] h-[40px] items-center justify-center hover:bg-white hover:text-black transition-colors cursor-pointer">
          <a href="#">Demo Drive</a>
        </div>
      </div>
    </div>
  </div>

  <div class="absolute top-0">
    <video
      autoplay
      loop
      muted
      src="https://digitalassets.tesla.com/tesla-contents/video/upload/f_auto,q_auto/Homepage-Test_Drive-NA-Desktop.mp4"
      class="w-screen h-screen object-cover"
    />
  </div>
</section>