<section class="landing-section h-screen w-screen z-10 bg-black relative overflow-hidden text-center pr-4" data-header-color="black">
  <div class="relative z-30 h-full flex flex-col">
    <h2 class="text-black mt-[236px] text-[40px] pt-[1px] font-medium leading-[48px] tracking-[-0.6px]">Model 3</h2>
    <a class="text-black text-sm font-normal pt-[6px] pb-4 underline underline-offset-[3px]">Lease from $399/mo</a>

    <div class="flex flex-col flex-grow justify-end pb-[72px]">
      <div class="mb-2">
        <div class="text-white bg-[#393c41] text-sm font-medium border-[3px] border-[#393c41] leading-4 rounded px-6 py-1 inline-flex min-w-[264px] h-[40px] items-center justify-center cursor-pointer mr-[9px]">
          <a href="#" class="pr-[1px]">Order Now</a>
        </div>
        <div class="text-[#393c41] bg-[#e3e3e3] text-sm font-medium border-[3px] border-[#e3e3e3] leading-4 rounded px-6 py-1 inline-flex min-w-[264px] h-[40px] items-center justify-center cursor-pointer ml-[9px]">
          <a href="#">Demo Drive</a>
        </div>
      </div>
    </div>
  </div>

  <div class="absolute top-0 -left-2">
    <img src="https://digitalassets.tesla.com/tesla-contents/image/upload/h_2560,w_4096,c_fit,f_auto,q_auto:best/Homepage-Model-3-Desktop-LHD" alt="Accesories" class="h-screen w-screen object-cover object-center">
  </div>
</section>